In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd. read_csv('audi.csv')
df.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB

In [4]:
df.describe()

               year          price  ...           mpg    engineSize
count  10668.000000   10668.000000  ...  10668.000000  10668.000000
mean    2017.100675   22896.685039  ...     50.770022      1.930709
std        2.167494   11714.841888  ...     12.949782      0.602957
min     1997.000000    1490.000000  ...     18.900000      0.000000
25%     2016.000000   15130.750000  ...     40.900000      1.500000
50%     2017.000000   20200.000000  ...     49.600000      2.000000
75%     2019.000000   27990.000000  ...     58.900000      2.000000
max     2020.000000  145000.000000  ...    188.300000      6.300000

[8 rows x 6 columns]

In [5]:
df.shape

(10668, 9)

In [6]:
df['year_diff'] = df["year"].max() - df["year"]
df.head()

  model  year  price transmission  ...  tax   mpg  engineSize  year_diff
0    A1  2017  12500       Manual  ...  150  55.4         1.4          3
1    A6  2016  16500    Automatic  ...   20  64.2         2.0          4
2    A1  2016  11000       Manual  ...   30  55.4         1.4          4
3    A4  2017  16800    Automatic  ...  145  67.3         2.0          3
4    A3  2019  17300       Manual  ...  145  49.6         1.0          1

[5 rows x 10 columns]

In [7]:
#encode model, transmission, fuelType
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["model"] = le.fit_transform(df["model"])
le1 = LabelEncoder()
df["transmission"] = le1.fit_transform(df["transmission"])
le2 = LabelEncoder()
df["fuelType"] = le2.fit_transform(df["fuelType"])
print(df.head())

   model  year  price  transmission  ...  tax   mpg  engineSize  year_diff
0      0  2017  12500             1  ...  150  55.4         1.4          3
1      5  2016  16500             0  ...   20  64.2         2.0          4
2      0  2016  11000             1  ...   30  55.4         1.4          4
3      3  2017  16800             0  ...  145  67.3         2.0          3
4      2  2019  17300             1  ...  145  49.6         1.0          1

[5 rows x 10 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  int64
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  int64
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  int64
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
 9   year_diff     10668 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 833.6 KB

In [9]:
X = df[["model","transmission","mileage","fuelType","tax","mpg","engineSize","year_diff"]]
y = df[["price"]]

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state = 123)

In [11]:
#Standard Scaling X and y
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
y_pred = lr.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.794226914417073

Ridge Regressor

In [15]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=1)
ridge.fit(X_train,y_train)
y1 = ridge.predict(X_test)
print("Value of r2 score at: ",r2_score(y_test,y1))

Value of r2 score at:  0.7942220340617815

Ridge Regressor CV

In [17]:
from sklearn.linear_model import RidgeCV
rid = RidgeCV(alphas = (0.1,0.5,1.0), scoring ='r2', cv = 5)
rid.fit(X_train, y_train)
print("Train score: ", rid.score(X_train,y_train))
print("Test score: ", rid.score(X_test, y_test))
y2 = rid.predict(X_test)
print("Prediction score: ", r2_score(y_test, y2))

Train score:  0.7841675361842927
Test score:  0.7942220340617815
Prediction score:  0.7942220340617815